<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2021-2022 CodeWithNikhil, Inc. &middot; <a href="/privacy-policy">Privacy</a> &middot; <a
            href="/terms-and-condition">Terms</a></p>
</footer>
</body>
</html>